@import "../../styles/settings.scss";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: rgba(0, 0, 0, 0.2);
}

ul {
  display: flex;
  gap: 2rem;
}

.navIcon {
  font-size: x-large;
}

a {
  font-size: medium;
  color: white;
  text-decoration: none;
  transition: color 0.4s;
  font-weight: 600;
}

.isActive {
  color: $color-warning;
}
